
const styles = {
  container: {
    width: "120px",
    background: "black",
    padding: "20px",
    borderRadius: "20px",
    display: "flex",
    flexDirection: "column",
    gap: "20px",
    alignItems: "center",
    margin: "50px auto"
  },
  light: {
    width: "70px",
    height: "70px",
    borderRadius: "50%",
    cursor: "pointer",
    transition: "0.3s"
  }
};